.card-look {
    max-width: 700px;
    padding: 30px;
    margin: 30px;
    border-radius: 2px;
    background-color:  hsl(210, 9%, 96%);
    box-shadow: 20px;
    display: flex;
  

}
 

      
   
  


  